*.o
incompact3d
*.mod
OUTPUT.log
ux*
uy*
uz*
vort*
pp*
rho*
temperature*
phi*
*.dat
*.eps
TAGS
*.xdmf
paraview_incompact3d
incompact3d-128x513x8
incompact3d-64x257x8
incompact3d-32x129x8
incompact3d-16x65x8
DATA
.ipynb_checkpoints
